.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 200px;
  margin-top: 50px;
}
@media (max-width: 776px){
  .container{
    margin:0 10%
  }
}